        <div class="line"></div>

          <div class="container-fluid text-black">
              <div class="row">
                  <div class="col-sm-4 text-left">
                      <p>Copyright&copy;Crowd Flow 2019.<br>
                          All rights reserved</p>
                  </div>
                  <div class="col-sm-4 text-center">
                      <p>Term of Use</p>
                  </div>
                  <div class="col-sm-4 text-right">
                      <p>Privacy Policy</p>
                  </div>
              </div>
          </div>