<!DOCTYPE html>
<html lang="en">
    <% include ../../partials/manage_fundraiser/head %>
<body>
  <div class="wrapper">
    <!-- Side Navigation -->
    <%- include('../../partials/manage_fundraiser/nav', {fundraiser: 'Test Fundraiser'}); %>

    <!-- Page Content Holder -->
    <div id="content">

      <!-- Top Navigation -->
      <% include ../../partials/manage_fundraiser/nav_top %>


      <h2>Welcome !!</h2>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

              <p>Submit your bank details for on time payout.</p>
              <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Add Bank Details</button>

          </div>
      </nav>

      <div class="line"></div>

      <div id="featured" class="container">
          <div class="row mt-3">
              <div class="col-lg-4">
                  <div class="card">
                      <!-- <img class="card-img-top" src="images/TheHindu.png" alt="Card image"> -->
                      <div class="card-body">
                          <h5 class="card-title text-center">Visits Today</h5>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="card">
                      <!-- <img class="card-img-top" src="images/new-york-times.png" alt="Card image"> -->
                      <div class="card-body">
                          <h5 class="card-title text-center">Donation Today</h5>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="card">
                      <!-- <img class="card-img-top" src="images/washington-post.png" alt="Card image"> -->
                      <div class="card-body">
                          <h5 class="card-title text-center">Total Raised</h5>
                      </div>
                  </div>
              </div>

          </div>

          <div class="line"></div>

          <div id="featured" class="container">
              <div class="row mt-3">
                  <div class="col-lg-6">
                      <div class="card" style="height : 120px">
                          <!-- <img class="card-img-top" src="images/TheHindu.png" alt="Card image"> -->
                          <div class="card-body">
                              <h5 class="card-title text-center">You have 2 remaining to do tasks.</h5>
                              <a href="#" class="btn btn-primary float-right" data-toggle="tooltip"
                                  data-placement="bottom" title="View this category">Complete</a>
                          </div>

                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="card" style="height : 120px">
                          <!-- <img class="card-img-top" src="images/new-york-times.png" alt="Card image"> -->
                          <div class="card-body">
                              <h5 class="card-title text-center">Remind To Donate</h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="line"></div>

          <div id="featured" class="container">
              <div class="row mt-3">
                  <div class="col-lg-12">
                      <div class="card" style="height : 310px">
                          <!-- <img class="card-img-top" src="images/TheHindu.png" alt="Card image"> -->
                          <div class="card-body">
                              <h5 class="card-title text-center">Fundraiser Review</h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="line"></div>

          <div id="featured" class="container">
              <div class="row mt-3">
                  <div class="col-lg-12">
                      <div class="card" style="height : 310px">
                          <!-- <img class="card-img-top" src="images/TheHindu.png" alt="Card image"> -->
                          <div class="card-body">
                              <a href="#" class="btn btn-primary float-right" data-toggle="tooltip"
                                  data-placement="top" title="View this category">Get More Visits</a>
                              <h5 class="card-title text-center">Fund Visit Trend</h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="line"></div>

          <div id="featured" class="container">
              <div class="row mt-3">
                  <div class="col-lg-12">
                      <div class="card" style="height : 310px">
                          <!-- <img class="card-img-top" src="images/TheHindu.png" alt="Card image"> -->
                          <div class="card-body">
                              <a href="#" class="btn btn-primary float-right" data-toggle="tooltip"
                                  data-placement="top" title="View this category">Share</a>
                              <h5 class="card-title text-center">Social Media</h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <% include ../../partials/manage_fundraiser/footer %>
      </div>

    </div>
  </div>

  <!-- Scripts -->
  <% include ../../partials/manage_fundraiser/scripts %>
</body>
</html>