<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/manage_fundraiser/head', {fundraiser: fundraiser }); %>
<body>
  <div class="wrapper">
    <!-- Side Navigation -->
    <%- include('../../partials/manage_fundraiser/nav', {fundraiser: fundraiser, page: 'requestWithdrawal' }); %>

    <!-- Page Content Holder -->
    <div id="content">

      <!-- Top Navigation -->
      <% include ../../partials/manage_fundraiser/nav_top %>
    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 

<!-- Inline CSS based on choices in "Settings" tab -->
<style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
    <form method="post">
     <div class="form-group ">
      <label class="control-label " for="amount">
       Enter the Amount to Withdraw
      </label>
      <input class="form-control" id="amount" name="amount" type="number"/>
     </div>
       <button class="btn btn-primary " name="amount" type="submit">
        Submit
       </button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>

    </div>
  </div>
  <% include ../../partials/manage_fundraiser/footer %>
  <% include ../../partials/manage_fundraiser/scripts %>