<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/manage_fundraiser/head', {fundraiser: fundraiser }); %>
<body>
  <div class="wrapper">
    <!-- Side Navigation -->
    <%- include('../../partials/manage_fundraiser/nav', {fundraiser: fundraiser, page: 'requestWithdrawal' }); %>

    <!-- Page Content Holder -->
    <div id="content">

      <!-- Top Navigation -->
      <% include ../../partials/manage_fundraiser/nav_top %>
      
      <button type="button" class="btn btn-primary"  data-js="twitter-share" >Twitter</button><br><br>
      <button type="button" class="btn btn-primary"  data-js="facebook-share" >Facebook</button><br><br>
      <button href = "/fundraiser/view_fundraiser/<%= fundraiser._id%>" type="button" class="btn btn-primary">View  More Fundraisers</button>

    <div class="card mx-5 my-5">

    </div>
    </div>
  </div>
  <% include ../../partials/manage_fundraiser/footer %>
  <% include ../../partials/manage_fundraiser/scripts %>