<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="../view/css/style.css" />
</head>
<% include ../partials/head %>

<body>
    <% include ../partials/nav %>
    <div class="fluid-container">
            <div class="jumbotron p-5 bg-info text-white">
                <h1 class="container text-center ">About Us</h1>
                <div>
                <p class="mx-5 text-justify p-5 lead">Team Crowd Flow salutes your awesomeness! Starting an online fundraiser has already begun adding to your good karma! Woohoo!

                        Your support for this social cause will go a long way in raising awareness and funds.
                        
                        Team Crwd Flow is with you every step of the way. If you have any queries, shout-out via email (info@crowdFlow.org)
                        or phone call (022-12345678) any time through your crowdfunding (a.k.a. online fundraising) journey.</p>
                    </div>
            </div>
        </div>

    <div id="featured" class="container mb-5">

        <div class="row mt-5">
            <h1 class="text-center w-100">Founder & Co-Founders</h1>
        </div>
        <div class="row mt-3">
            <div class="col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="../view/images/img_avatar.png" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title text-center">Kinnar Kansara</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="../view/images/img_avatar.png" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title text-center">Bhavya Patel</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="../view/images/img_avatar.png" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title text-center">Vivek Shakya</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="../view/images/img_avatar.png" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title text-center">Dinakara Sai Santosh</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <% include ../partials/footer %>
    <% include ../partials/scripts %>
</body>

</html>