<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="../view/css/style.css" />
</head>
<% include ../partials/head %>

<body>
    <% include ../partials/nav %>
    <div class="fluid-container">
        <div class="jumbotron p-5 bg-info text-white">
            <h1 class="container text-center ">About Us</h1>
            <div>
                <p class="mx-5 text-justify p-5 lead">Team Crowd Flow salutes your awesomeness! Starting an online
                    fundraiser has already begun adding to your good karma! Woohoo!

                    Your support for this social cause will go a long way in raising awareness and funds.

                    Team Crwd Flow is with you every step of the way. If you have any queries, shout-out via email
                    (info@crowdFlow.org)
                    or phone call (022-12345678) any time through your crowdfunding (a.k.a. online fundraising) journey.
                </p>
            </div>
        </div>
    </div>

    <div id="featured" class="container mb-5 text-center">

        <div class="row mt-5">
            <h1 class="text-center w-100">Our Amazing Team</h1>
        </div>
        <div class="row mt-3 text-center">
            <div class="col-lg-4">
                <img class="mx-auto rounded-circle" src="../view/images/users/kinnar_kansara.png" height="225"
                    width="225">
                <p>
                    <h4>Kinnar Kansara</h4>
                    <span>NUID: 001388213</span>
                </p>
                
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <img class="mx-auto rounded-circle" src="../view/images/users/bhavya_patel.png" height="225"
                    width="225">
                <p>
                    <h4>Bhavya Patel</h4>
                    <span>NUID: 001351292</span>
                </p>
                
                </p>
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <img class="mx-auto rounded-circle" src="../view/images/users/yash_thakker.png" height="225"
                    width="225">
                <p>
                    <h4>Yash Thakker</h4>
                    <span>NUID: 001389338</span>
                </p> <ul class="list-inline social-buttons">

                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        </ul>
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-4">
                <img class="mx-auto rounded-circle" src="../view/images/img_avatar.png" height="225" width="225">
                <p>
                    <h4>Vivek Shakya</h4>
                    <span>NUID: 001495865</span></p> <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        </ul>
            </div>

            <div class="col-lg-4">
                <img class="mx-auto rounded-circle" src="../view/images/users/sai_santosh.png" height="225" width="225">
                <p>
                    <h4>BD Sai Santosh</h4>
                    <span>NUID: 001491075</span>
                </p>
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
    </div>


    <% include ../partials/footer %>
    <% include ../partials/scripts %>
</body>

</html>