<!DOCTYPE html>
<html lang="en">

<head>
    <title>Start a fundraiser</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../view/css/style.css" />
    <script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
</head>
<% include ../partials/head %>

<body>
    <% include ../partials/nav %>




    <div class="mx-5 my-5">
        <div class="card-header">
            Fundraiser Submitted for approval
        </div>
        <div class="card-body">


            <div class="row no-gutters bg-light position-relative">
                <div class="col-md-6 mb-md-0 p-md-4">
                    <img src="..." class="w-100" alt="...">
                </div>
                <div class="col-md-6 position-static p-4 pl-md-0">
                    <!-- <h5 class="mt-0">Columns with stretched link</h5> -->
                    <p>Our team will validate your fundraiser details , once they verify them your fundraiser will be
                        live . Meanwhile you can contact Yash on <i class="fab fa-whatsapp"> +1 567-013-4568</i>. Also
                        <a href= "/browseFundraiser">browse</a> fundraiser and contribute to the various causes</p>
                    <!-- <a href="/" class="stretched-link">Home</a> -->
                </div>
            </div>
            <!-- <h5 class="card-title">Meanwhile you ca</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>




    
    <% include ../partials/footer %>
</body>