<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="../view/css/style.css" />
</head>
<% include ../partials/head %>

<body>
    <% include ../partials/nav %>
    <div class="fluid-container">
        <div class="jumbotron p-5 bg-info text-white">
            <h1 class="container text-center ">Hey There!!</h1>
            <div>
                <p class="mx-5 text-justify p-5 lead">Team Crowd Flow salutes your awesomeness! Starting an online
                    fundraiser has already begun adding to your good karma! Woohoo!

                    Your support for this social cause will go a long way in raising awareness and funds.

                    Team Crwd Flow is with you every step of the way. If you have any queries, shout-out via email
                    (info@crowdFlow.org)
                    or phone call (022-12345678) any time through your crowdfunding (a.k.a. online fundraising) journey.
                </p>
            </div>
        </div>
        <h4 class="mx-5">MAKE CONTACT</h4>
        <p class="mx-5 text-justify p-5 lead">
            Once your fundraiser page is ready, it's time to reach out to your supporters! Here are some tricks of the
            crowdfunding trade:

            The FIRST THREE and LAST THREE DAYS of your fundraiser are super important. These periods are when your
            fundraiser gathers the most momentum. So get started!<br><br>
            Stage 1: Divide your social circle into an inner circle (friends, family, colleagues) and an outer circle
            (old friends, distant relatives, ex - colleagues etc.).<br>
            Stage 2: Reach out to your inner social circle first - friends, family and colleagues. They are most
            likely to give because, well, they love you. And because they can feel your passion for the cause.<br>
            Stage 3: Reach out to your outer circle next - old friends, distant relatives, ex - colleagues etc.
            When they see you've already got supporters giving to your fundraiser, it will make them want to
            join in as well.<br><br>

            Here's the funny thing - research suggests that when a fundraiser is closer to its goal, people feel their
            contribution will be more effective. So fundraisers that already have some support tend to get even more
            support! This is the jumpstart your outer circle needs to make them want to give to your fundraiser!

            Aim to get 25% of your funding goal through 10 - 15 people from your inner circle. Your outer circle should
            then help keep the momentum going.
        </p>
        <h4 class="mx-5">GOOD COMMUNICATION</h4>
        <p class="mx-5 text-justify p-5 lead">
            Social media is great, but nothing beats direct contact (chatting face-to-face, direct emails, a personal
            Facebook or Whatsapp message). So when you begin touching base with your circles, direct, personalized
            communication is key!<br>

            Social media is still your loyal pal, of course! Use your Facebook status, Twitter and other social media to
            talk about your fundraiser. Let the world know the cool stuff you're up to!<br>

            Oh, remember to always include your fundraiser page link in any communication!<br>
        </p>

    </div>
    <% include ../partials/footer %>
    <% include ../partials/scripts %>
</body>

</html>