<!DOCTYPE html>
<html lang="en">

<head>
    <title>Start a fundraiser</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../view/css/style.css" />
    <script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
</head>
<% include ../partials/head %>

<body>
    <% include ../partials/nav %>

    <div class="fluid-container">
        <div class="fluid">
            Fundraiser is sent for approval
        </div>
    </div>
    <% include ../partials/footer %>
</body>