<!DOCTYPE html>
<html lang="en">

<head>
    <title>Choose Your Cause</title>
    <link rel="stylesheet" href="../view/css/style.css" />
</head>
<% include ../partials/head %>

<body>
    <% include ../partials/nav %>

    <div class="fluid-container">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center w-100 p-3">What do you need to raise funds for?</h3>
                </div>
            </div>
            <div class="row">
                <div class="row mb-3">
                    <% cause.forEach((cause) => { %>

                    <div class="col-lg-3 d-flex align-items-stretch">
                        <div class="card">
                            <img class="card-img-top" height=250px src="../view/images/causes/<%= cause.image %>" alt="Card image">
                            <div class="card-body">
                                <a href="/fundraiser/start/<%- cause._id %>" class="stretched-link">
                                    <h4 class="card-title text-center"><%= cause.name%></h4>
                                </a>
                                <p class="card-text"><%= cause.description%></p>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>

        </div>
    </div>
    <% include ../partials/footer %>
    <% include ../partials/scripts %>
</body>

</html>