<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="../view/css/style.css" />
</head>
<% include ../partials/head %>

<body>
    <% include ../partials/nav %>
    <div class="fluid-container">
        <div class="jumbotron bg-info text-white">
            <h1 class="container text-center ">We Are Hiring!!</h1>
        </div>
        <div class="row no-gutters bg-light position-relative">
                <div class="col-md-6 mb-md-0 p-md-4">
                  <img src="/view/images/recruiting-cycles.jpg" class="w-100" alt="...">
                </div>
                <div class="col-md-6 position-static p-4 pl-md-0">
                        <form class="form">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Email:</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="email" placeholder="Enter email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="name">Name:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name" placeholder="Enter Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label class="control-label col-sm-2" for="city">City:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="city" placeholder="Enter City">
                                        </div>
                               </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Department:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="department" placeholder="Enter Department">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox">
                                            <label><input type="checkbox"> Remember me</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                </div>
              </div>
        <!-- <div class="row">
                <div class="col-md-8">
                        <img src="/view/images/recruiting-cycles.jpg"/>
        
                </div>
                <div class="col-md-4 ">
                   
                    <form class="form">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Email:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" placeholder="Enter email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="name">Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" placeholder="Enter Name">
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="control-label col-sm-2" for="city">City:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="city" placeholder="Enter City">
                                </div>
                       </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Department:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="department" placeholder="Enter Department">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label><input type="checkbox"> Remember me</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

        </div> -->
       

    </div>


    <% include ../partials/footer %>
    <% include ../partials/scripts %>
</body>

</html>