<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="../view/css/style.css" />
</head>
<% include ../partials/head %>

<body>
    <% include ../partials/nav %>
    <div class="fluid-container">
        <div class="jumbotron p-5 bg-info text-white">
            <h1 class="container text-center ">Our Partners</h1>
        </div>
        <div id="featured" class="container mb-5">
                <div class="row mt-3">
                    <div class="col-lg-3">
                        <div class="card">
                            <img class="card-img-top" height=250px src="../view/images/PayPal.png" alt="Card image">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <img class="card-img-top" height=250px src="../view/images/Akanksha.jpg" alt="Card image">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <img class="card-img-top" height=250px src="../view/images/Reliance_Foundation_logo.jpg" alt="Card image">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <img class="card-img-top" height=250px src="../view/images/EFI.png" alt="Card image">
                        </div>
                    </div> 
        
                </div>
            </div>
            <div id="featured" class="container mb-5">
                    <div class="row mt-3">
                        <div class="col-lg-3">
                            <div class="card">
                                <img class="card-img-top" height=250px src="../view/images/bofa.png" alt="Card image">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <img class="card-img-top" height=250px src="../view/images/Master.png" alt="Card image">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <img class="card-img-top" height=250px src="../view/images/Google.png" alt="Card image">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <img class="card-img-top" height=250px src="../view/images/bbc.png" alt="Card image">
                            </div>
                        </div> 
            
                    </div>
                </div>

    </div>


    <% include ../partials/footer %>
    <% include ../partials/scripts %>
</body>

</html>
