<ul class="list-group list-group-horizontal">
        <!-- <li class="list-group-item border-0 text-center">Share on Social Media</li> -->
        <li class="list-group-item border-0 text-center ">
            
                <button data-js="twitter-share" type="button" class="btn btn-lg btn-primary px-3 ">
                        <i class="fab fa-twitter"></i>
                </button>
        
        </li>
        <li class="list-group-item border-0 text-center float-right">
            
                <button data-js="facebook-share" type="button" class="btn btn-lg btn-primary px-3  ">
                         <i class="fab fa-facebook-f"></i>
                </button>
        
        </li>
        
</ul>





        
        
