
 <!-- <button><a href="/santosh1/social" target = _blank>Share</a>
 </a></button> -->
<!-- <br><br>
<button><a href="/santosh1/tele" target = _blank>Twitter</a>
<br><br> -->
<!-- // refer styless.css for styles -->
<span class="twitter-share" data-js="twitter-share">Twitter</span> 
<!-- // refer styless.css for styles -->
<span class="facebook-share" data-js="facebook-share">Facebook</span>