<!-- views/partials/footer.ejs -->
<footer class="footer">
 <!-- <div class="container">
 <p class="text-center text-muted">© Copyright 2019 <a href="#">Pandavas</a></p>
 </div> -->
 <div class="container-fluid p-3 bg-info text-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p>
                    <h5>ABOUT</h4>
                        </5>
                        <p class="m-0">About Us</p>
                        <p class="m-0">Jobs</p>
                        <p class="m-0">Our Partners</p>
                        <p class="m-0">Careers</p>
            </div>
            <div class="col-sm-4">
                <p>
                    <h5>SUPPORT</h4>
                        </5>
                        <p class="m-0">FAQs</p>
                        <p class="m-0">Contact Us</p>
            </div>
            <div class="col-sm-4">
                <p>
                    <h5>SOCIAL MEDIA</h4>
                        </5>
                        <span class="h4 mr-3"><i class="fab fa-facebook"></i></span>
                        <span class="h4 mr-3"><i class="fab fa-instagram"></i></span>
                        <span class="h4 mr-3"><i class="fab fa-twitter"></i></span>
                        <span class="h4 mr-3"><i class="fab fa-youtube"></i></span>
            </div>
        </div>
    </div>

</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</footer>