<!-- views/partials/footer.ejs -->
<footer class="footer">
 <!-- <div class="container">
 <p class="text-center text-muted">© Copyright 2019 <a href="#">Pandavas</a></p>
 </div> -->
 <div class="container-fluid p-3 bg-info text-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p>
                    <h5>ABOUT</h4>
                        </5>
                        <a href="/AboutUs/AboutUs" class="m-0 text-white">About Us</a><br>
                        <a href="/Jobs/Jobs" class="m-0 text-white">Jobs</a><br>
                        <a href="/OurPatners/OurPatners" class="m-0 text-white">Our Partners</a>
                        <p class="m-0">Careers</p>
            </div>
            <div class="col-sm-4">
                <p>
                    <h5>SUPPORT</h4>
                        </5>
                        <p class="m-0">FAQs</p>
                        <p class="m-0">Contact Us</p>
            </div>
            <div class="col-sm-4">
                <p>
                    <h5>SOCIAL MEDIA</h4>
                        </5>
                        <span class="h4 mr-3"><i class="fab fa-facebook"></i></span>
                        <span class="h4 mr-3"><i class="fab fa-instagram"></i></span>
                        <span class="h4 mr-3"><i class="fab fa-twitter"></i></span>
                        <span class="h4 mr-3"><i class="fab fa-youtube"></i></span>
            </div>
        </div>
    </div>

</div>
</div>
</footer>